<template>
  <div>
    <a-breadcrumb style="margin: 16px 0">
      <a-breadcrumb-item>Home</a-breadcrumb-item>
      <a-breadcrumb-item>Cats</a-breadcrumb-item>
      <a-breadcrumb-item>Blend</a-breadcrumb-item>
    </a-breadcrumb>
    <div
      id="components-form-advanced"
      :style="{ background: '#fff', padding: '24px', minHeight: '280px' }"
    >
      <h2 class>Fetch Cats Images</h2>
      <a-form class="ant-advanced-form" :form="form" @submit="handleSubmit">
        <a-row :gutter="24">
          <a-col :span="12">
            <a-form-item label="Greeting">
              <a-input placeholder="greeting" v-model="greeting" />
            </a-form-item>
          </a-col>
          <a-col :span="12">
            <a-form-item label="To Who">
              <a-input placeholder="who" v-model="who" />
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Width">
              <a-input-number style="width: 100%" :min="10" placeholder="width" v-model="width" />
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Hight">
              <a-input-number style="width: 100%" :min="10" placeholder="height" v-model="height" />
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Font Color">
              <v-swatches style="width: 100%" v-model="color">
                <a-input slot="trigger" placeholder="color" v-model="color" />
              </v-swatches>
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="Font Size">
              <a-input-number style="width: 100%" :min="20" placeholder="size" v-model="size" />
            </a-form-item>
          </a-col>
        </a-row>
        <a-row>
          <a-col :span="24" :style="{ textAlign: 'right' }">
            <a-button type="primary" html-type="submit" :loading="loading">Fetch</a-button>
            <a-button :style="{ marginLeft: '8px' }" @click="handleReset" :disabled="loading">Reset</a-button>
          </a-col>
        </a-row>
      </a-form>
      <div class="result-img">
        <a-spin tip="Loading..." v-if="loading" size="large" />
        <a-empty description="No Image to Preview" v-else-if="!img" />
        <img v-else alt="Blended Image" :src="img" />
      </div>
    </div>
  </div>
</template>
<script>
import VSwatches from 'vue-swatches'

export default {
  components: {
    VSwatches
  },
  data () {
    return {
      loading: false,
      greeting: 'Hello',
      who: 'You',
      width: 400,
      height: 500,
      color: '#E84B3C',
      size: 100,
      img: null,
      form: this.$form.createForm(this, { name: 'fetch_cats' }),
    };
  },
  methods: {
    handleSubmit (e) {
      e.preventDefault()
      this.loading = true
      const { greeting, who, width, height, color, size } = this
      this.$axios.get('/cats', { responseType: 'blob', params: { greeting, who, width, height, color, size } })
        .then(({ data }) => {
          const reader = new FileReader();
          reader.readAsDataURL(data);
          reader.onload = () => {
            this.img = reader.result;
          }
        })
        .catch(err => this.$notification.warn({
          message: 'Warning',
          placement: 'bottomRight',
          description: err.message
        }))
        .finally(() => this.loading = false)
    },

    handleReset () {
      this.greeting = 'Hello'
      this.who = 'You'
      this.width = 400
      this.height = 500
      this.color = '#E84B3C'
      this.size = 100
      this.img = null
    }
  },
}
</script>
<style >
.ant-advanced-form {
  padding: 24px !important;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-form .ant-form-item {
  display: flex;
}

.ant-advanced-form .ant-form-item-control-wrapper {
  flex: 1;
}

#components-form-advanced .ant-form {
  max-width: none;
}
#components-form-advanced .result-img {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
#components-form-advanced .result-img img,
#components-form-advanced .result-img .ant-empty {
  margin-bottom: 60px;
}

.vue-swatches__trigger__wrapper {
  width: inherit;
}

.vue-swatches__container .vue-swatches__wrapper {
  min-width: 224px;
}
</style>