<template>
  <a-layout id="components-layout" class="layout">
    <a-layout-header>
      <div class="logo">harver</div>
    </a-layout-header>
    <a-layout-content style="padding: 0 50px">
      <cats />
    </a-layout-content>
    <a-layout-footer style="text-align: center">Task 2 ©2020 Created by Lakshitha Elapatha</a-layout-footer>
  </a-layout>
</template>

<script>
import "vue-swatches/dist/vue-swatches.css"
import Cats from './components/Cats'
export default {
  name: 'app',
  components: {
    Cats
  }
}
</script>

<style>
#components-layout .logo {
  /* width: 120px;
  height: 31px;*/
  margin-right: 16px;
  float: left;
  font-size: 28px;
  color: white;
  font-weight: 600;
}
</style>
